@model IEnumerable<Author>
@{
    ViewData["Title"] = "Authors";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Authors</h2>
    <button class="btn btn-primary" id="btnAddAuthor">Add Author</button>
</div>
<table class="table table-striped">
    <thead><tr><th>Name</th><th style="width:150px;"></th></tr></thead>
    <tbody>
    @foreach (var a in Model)
    {
        <tr data-id="@a.Id">
            <td>@a.Name</td>
            <td>
                <button class="btn btn-sm btn-warning btn-edit-author" data-id="@a.Id">Edit</button>
                <button class="btn btn-sm btn-danger btn-del-author" data-id="@a.Id">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="authorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Author</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="authorModalBody">Loading...</div>
    </div>
  </div>
</div>
